{% extends 'base.html' %} 

{% block title %}About | Tycoon {% endblock %}

{% block isActiveAbout %}active {% endblock %}


  {% block body %}                           

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="services" class="services">
    <section id="about" class="about">
     
     

        <div class="section-title">
          <h2>Models</h2>
        </div>
        <section id="facts" class="facts">
        <div class="container pt-0 mt-0" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
  <img src="/assets/assets/img/bot1.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">C-Programming</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot2.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Python</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot3.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">C++</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot4.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Django</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot5.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Tensorflow</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot6.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">OpenCV</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot7.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Unity</a></h4>
            </div>
          </div>


        </div>

      </div>
    </section>
  </section>


      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="/assets/assets/img/bot1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <p class="fst-italic">
              por labore quem eram duis noster aute amet eram fore quis sint minim.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Title:</strong> Ans</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Title:</strong> Ans</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Title:</strong> Ans</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Title:</strong>  Ans</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Title:</strong> Ans</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/assets/img/bot1.png" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/assets/img/bot2.png" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/assets/img/bot3.png" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/main/Portfolio/My-pics/About.jpeg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="https://raw.githubusercontent.com/sshibinthomass/web-images/main/Portfolio/My-pics/About.jpeg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  {% endblock %}

</html>