{% extends 'base.html' %} 

{% block title %}Contact | Tycoon{% endblock %}

{% block isActiveConc %}active {% endblock %}


{% block body %} 
  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>


        <div class="row mt-2">

          <div class="col-lg-6">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>117 Samayapuram Alwarpet,Coonoor,643101</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sshibinthomass@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 7904050237</p>
              </div>

            </div>

          </div>

          <div class="col-lg-6">
            <div class="info">
              <div class="address">
                <i class="bi bi-github"></i>
                <h4><a href="https://github.com/sshibinthomass" target="_blank" class="linkedin">Github</a></h4>
                <p>sshibinthomass</p>
              </div>

              <div class="email">
                <i class="bi bi-linkedin"></i>
                <h4><a href="https://www.linkedin.com/in/sshibinthomass" target="_blank" class="linkedin">LinkedIn</a></h4>
                <p>sshibinthomass</p>
              </div>

              <div class="phone">
                <i class="bi bi-file-earmark"></i>
                <h4><a href="#" target="_blank" class="linkedin">Resume</a></h4>
                <p>gdrive</p>
              </div>

            </div>

          </div>


          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->
  {% endblock %}


</html>