{% extends 'base.html' %} 

{% block title %}Index | Tycoon{% endblock %}

{% block isActiveHome %}active{% endblock %}


{% block body %} 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100" style="color: black;">
      <h1 style="color: rgb(255, 255, 255);">Dro-Co Bot</h1>
      <h2 class="m-0" style="color: rgb(255, 255, 255);">You're Personal Assistant </h2>
      <h2 class="m-0" style="color: rgb(255, 255, 255);">Attendance Tracker</h2>
      <h2 class="m-0" style="color: rgb(255, 255, 255);">Smart Bot </h2>

      <a href="../about" class="mt-3 btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->
                            
  {% endblock %}