{% extends 'base.html' %}

{% block title %}Projects | Shibin{% endblock %}

{% block isActivePort %}active {% endblock %}


{% block body %}

<main id="main">

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Projects</h2>
        <p>I have been working with Augmented Reality, Vitual Realiy, AI and Robotics and Python related projects.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-hack">Hackathon and Competition</li>
            <li data-filter=".filter-card">Robotics/ML/DL</li>
            <li data-filter=".filter-web">Web/Application/Others</li>
            <li data-filter=".filter-cert">Certification</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">

            <img src="/assets/assets/img/sih/sih6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h1_sih">
                <h4>Smart Indian Hackathon</h4>
              </a>
              <a href="../h1_sih">
                <p>IOT-VR Yoga solution</p>
              </a>
              <div class="portfolio-links">
                <a href="../h1_sih">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/TCS.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h2_tcs">
                <h4>TCS XR PRO Hackathon</h4>
              </a>
              <a href="../h2_tcs">
                <p>Augmented Reality Training Solution</p>
              </a>
              <div class="portfolio-links">
                <a href="../h2_tcs">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/IFA_Hackathon.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h3_ifa">
                <h4>IFA Hackathon</h4>
              </a>
              <a href="../h3_ifa">
                <p>AR-VR Studies</p>
              </a>
              <div class="portfolio-links">
                <a href="../h3_ifa">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/Academic_Expellence.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h4_star">
                <h4>Accademics</h4>
              </a>
              <a href="../h4_star">
                <p>Star Performer</p>
              </a>
              <div class="portfolio-links">
                <a href="../h4_star">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/T1_winners.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h5_t1hacks">
                <h4>T1 Hacks</h4>
              </a>
              <a href="../h5_t1hacks">
                <p>SKCET Placement cell</p>
              </a>
              <div class="portfolio-links">
                <a href="../h5_t1hacks">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/Project_Expo.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h6_engineersDay">
                <h4>Engineers Day Expo</h4>
              </a>
              <a href="../h6_engineersDay">
                <p>SKCET MCT Engineers Day Expo</p>
              </a>
              <div class="portfolio-links">
                <a href="../h6_engineersDay">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-hack">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/participation.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="../h7_participation">
                <h4>Participation</h4>
              </a>
              <a href="../h7_participation">
                <p>Other competition Participation</p>
              </a>
              <div class="portfolio-links">
                <a href="../h7_participation">
                  <p><span class="badge bg-info text-dark">More details</span></p>
                </a>
              </div>
            </div>
          </div>
        </div> 

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/1_Deep_Learing_Specialization.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/1_Deep_Learing_Specialization.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox" title="Deep Learning">Deep Learning</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/2_Getting_Started_with_python.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/2_Getting_Started_with_python.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox" title="Getting Started with Python">Getting
                Started with Python</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/3_IntroductionToDS.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/3_IntroductionToDS.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Introduction on DataScience">Introduction on DataScience</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/4_Python_Data_Structures.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/4_Python_Data_Structures.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Python Data Structure">Python Data Structure</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/5_IntroductionToAR-001.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/5_IntroductionToAR-001.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Introduction to Augmented Reality">Introduction to Augmented
                Reality</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/6_IntroductionToTF.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/6_IntroductionToTF.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Introduction to TensorFlow">Introduction to TensorFlow</a>
              <p>Coursera</p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/7_ICTAcademy.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/7_ICTAcademy.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="ICT Academy">ICT Academy</a>
              <p>12 Courses</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/8_SAE_Cloud_Tech.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/8_SAE_Cloud_Tech.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Cloud Tech">Cloud Tech</a>
              <p>SAE</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/9_SAE_Mobile_App.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/9_SAE_Mobile_App.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Mobile Application">Mobile Application</a>
              <p>SAE</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/10_Technoxian.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/10_Technoxian.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Technoxian">Technoxian</a>
              <p>World Robotics Championship</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/11_DeepVisionTechAI_Internship.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/11_DeepVisionTechAI_Internship.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox" title="Deeplearing Internship">Deeplearing
                Internship</a>
              <p>Deep Learing Internship letter</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/12_IFT_Alpha.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/12_IFT_Alpha.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Industial Field Training">Industial Field Training</a>
              <p>Industial Field Training</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/13_NSTF_Codissia.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/13_NSTF_Codissia.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="NSTF Codissia">NSTF Codissia</a>
              <p>NSTF Codissia</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/14_Building Arduino robots and devices.jpg" class="img-fluid"
              alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/14_Building Arduino robots and devices.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Building Arduino robots and devices">Building Arduino robots and devices</a>
              <p>Building Arduino robots and devices</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/15_Modern Robotics Course 1-Foundations of Robot.jpg"
              class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/15_Modern Robotics Course 1-Foundations of Robot.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Modern Robotics Course 1-Foundations of Robot">Modern Robotics Course 1-Foundations of Robot</a>
              <p>Modern Robotics Course 1-Foundations of Robot</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/16_Training Certificate_withForms.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/16_Training Certificate_withForms.jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Training Certificate with Forms">Training Certificate with Forms</a>
              <p>Training Certificate with Forms</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/17_mathlab(Deep learning on ramp).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/17_mathlab(Deep learning on ramp).jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Mathlab(Deep learning on ramp">Mathlab(Deep learning on ramp</a>
              <p>Mathlab(Deep learning on ramp)</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/18_Mathlab(Machine Learning Onramp).jpg" class="img-fluid"
              alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/18_Mathlab(Machine Learning Onramp).jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Mathlab(Machine Learning Onramp)">Mathlab(Machine Learning Onramp)</a>
              <p>Mathlab(Machine Learning Onramp)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/19_matlab(image processing on ramp).jpg" class="img-fluid"
              alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/19_matlab(image processing on ramp).jpg"
                data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Matlab(Image processing on ramp)">Matlab(Image processing on ramp)</a>
              <p>Matlab(Image processing on ramp)</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cert">
          <div class="portfolio-wrap">
            <img src="/assets/assets/img/certifications/20_mathlab(Mathlab Onramp).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/assets/assets/img/certifications/20_mathlab(Mathlab Onramp).jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox" title="Mathlab(Mathlab Onramp)">Mathlab(Mathlab Onramp)</a>
              <p>Mathlab(Mathlab Onramp)</p>
            </div>
          </div>
        </div>





      </div>

    </div>

    <!--Off canvas-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <img src="/assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
        <img src="/assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
        <img src="/assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
        <img src="/assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
        <img src="/assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
        <div>
          Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists,
          etc.
        </div>
      </div>
    </div>



  </section><!-- End Portfolio Section -->

</main><!-- End #main -->

{% endblock %}