={% extends 'base.html' %} 

{% block title %}Skill | Tycoon{% endblock %}
{% block isActiveSkill %}active {% endblock %}
                            
  {% block body %} 
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
  <img src="/assets/assets/img/bot1.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">C-Programming</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot2.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Python</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot3.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">C++</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot4.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Django</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot5.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Tensorflow</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot6.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">OpenCV</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="/assets/assets/img/bot7.png" alt="Kiwi standing on oval" width="200" height="200">
              </div>
              <h4><a href="">Unity</a></h4>
            </div>
          </div>


        </div>

      </div>


      <!-- ======= Facts Section ======= -->
      <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Achivements</h2>
          </div>

          <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Honors</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p>Journels</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hackathons</p>
            </div>

          </div>

        </div>
      </section><!-- End Facts Section -->


    </section><!-- End Services Section -->

  </main><!-- End #main -->
  {% endblock %}

</html>